<a href="/dashboard" class="back">Dashboard</a>

<article class = "dash-page">
<section class = "edit-form-page">
    <div class = "form-heading">
        <h1>Edit Your Post</h1>
    </div>
    <div class ="form-section">
        <form class="edit-post-form">
            <div class ="post-title">
                <label for="post-title">Blog Title</label>
                <input type="text" name="post-title" id="post-title" value="{{post.title}}" />
            </div>
            <div class="post-content">
                <label for="post-content">Tech Content</label>
                <textarea name="post-content" id="post-content">{{post.content}}</textarea>
            </div>
            <buttion type="submit">Edit Your Post</button>
            <button type="button" class="delete-post">Delete Your Post</button>
        </form>
    </div>
</section>
</article>

{{#if loggedIn}}
<script src="/public/javascript/delete-post.js"></script>
<script src="/public/javascript/edit-post.js"></script>
{{/if}}