<a href="/dashboard" class="back">Dashboard</a>

<article class = "new-page">
<section class = "edit-form-page">
    <div class = "form-heading">
        <h1>Edit Your Post</h1>
    </div>
    <div class ="form-section">
        <form class="edit-post-form">
            <div class ="post-title-section">
                <label for="post-title">Blog Title</label>
                 <br />
                <input id="post-title" type="text" name="post-title"  value="{{post.title}}" />
            </div>
            <div class="post-content">
                <label for="post-content">Tech Talk Text</label>
                 <br />
                <textarea id="post-content" name="post-content" class="entry-field" >{{post.content}}</textarea>
            </div>
            <buttion type="submit">Edit Your Post</button>
            <button type="button" class="delete-post-btn">Delete Your Post</button>
        </form>
    </div>
</section>
</article>

{{#if loggedIn}}
<script src="/public/javascript/edit-post.js"></script>
<script src="/public/javascript/delete-post.js"></script>
{{/if}}