<form class="login">
  <div class="nav-bar">
      <h1>Log In</h1>
      </div>
      <center> 
      <div class="form-section">
          <form class="login-form">
              <div>
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" />
              </div>
              <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="username-login" />
              </div>
              <div>
                  <button type="submit">Log In</button>
              </div>
              </form>
              <div> 
                  <a href="/signup" class="sign-in-link">Sign Up Here</a>
                  </div>    
            </section>
</center>
<script src="/javascript/login.js"></script>