<section class="sign-in-page">
  <div class="form-heading">
    <h2>Welcome, We're glad you're here!</h2>
    <h3>Sign Up</h3>
  </div>
  <div class="form-section">
    <form class="signup-form">
      <div>
        <label for="username-signup">Create a Username:</label>
        <br />
        <input type="text" class="entry-field" id="username-signup" />
      </div>
      <br />
      <div>
        <label for="password-signup">Create a Password:</label>
        <br />
        <input type="password" class="entry-field" id="password-signup" />
      </div>
      <br />
      <div>
        <button type="submit" class="login-signup-btn">Sign Up</button>
      </div>
    </form>
  </div>

  <a href="/login" class="login-link">Already a Tech-Talker? Login Instead!</a>
</section>

<script src="/public/javascript/signup.js"></script>