* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(43, 39, 39);
}

main,
.site-name {
    background-color: #ffffff;
}

a,
.btn-no-style,
#comment-subtitle {
    color: #000000;
}

a:hover,
.btn-no-style:hover {
    color: #d5ebed;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;
}

button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3486eb;
}

.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}