* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: #6a9983;
}

main,
.site-name {
  background-color: #6a9983;
}

a,
#comment-subtitle {
  color: #b8cba2;
}

a {
  text-decoration: none;
  border-width: 3px;
  font-weight: bold;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.go-back {
  color: #2c2307;
  margin-left: 60%;
  font-size: large;
  margin-bottom: 5px;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form label {
  display: block;
}

.info-section {
  padding: 5px 10px;
  display: flex;
  border-radius: 0.4%;
  justify-content: space-between;
}

header,
.site-row,
.info-section,
.form-heading {
  background-color: #1a4434;
}

.login-page,
.sign-in-page,
.new-form-page,
.edit-form-page {
  border: 3px solid black;
  padding-bottom: 10px;
}

.info-section,
.content-section,
.form-section,
.sign-in-link,
.login-link {
  padding-left: 30px;
}

.post-name,
.post-title-section,
.new-page {
  padding-top: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}

.site-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}

.site-name {
  margin-bottom: 10px;
  padding: 6px;
  border-style: outset;
  border-radius: 5%;
}

main {
  flex: 1;
  padding: 4% 10%;
}

.delete-post-btn {
  background-color: #d41414;
}

.post {
  margin-bottom: 20px;
  line-height: 100%;
  border-radius: 4px;
  border: 3px solid rgb(0, 0, 0);
}

.edit-link {
  display: block;
  margin: 0 2% 0;
  color: #dddcd7;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 6%;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  background-color: #225ca3;
  width: 100px;
}

.comment {
  margin-bottom: 2%;
  padding: 3%;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 2%;
  background-color: rgb(224, 224, 224);
}

.form-heading h1,
.form-heading h2 {
  color: #d3cece;
  text-align: center;
}

.login-form,
.signup-form,
.post-content,
.post-title-section {
  padding: 10px;
}

.entry-field,
.btn,
#post-title {
  width: 100%;
}

.new-post-form input {
  width: 250px;
}

#comment-subtitle {
  font-size: 14px;
}

#create-new-post,
.new-post-section {
  color: #dddcd7;
  border-radius: 4%;
  padding: 5px;
  text-align: center;
  background-color: #225ca3;
  width: 180px;
  display: flex;
  align-items: center;
}

#create-new-post:hover {
  background-color: #3486eb;
}

.sign-in-link,
.login-signup-btn,
.login-link {
  color: #ffffff;
  border-width: 0.5px;
  border-radius: 4%;
  padding: 3px;
  margin-left: 20px;
  text-align: center;
  background-color: #225ca3;
  width: 100px;
}

.wrapper {
  background-color: #6a9983;
}

footer {
  align-content: center;
  margin-top: 100px;
  /* margin-bottom: auto; */
  margin-left: 30%;
  font-weight: bolder;
  background-color: #6a9983;
  color: rgb(224, 224, 224);
}
